{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "importOrder": ["^@/components/(.*)$", "^@/icons", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
